@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

@font-face {
  font-family: "nato_ban";
  src: url("../public/font/nato_ban/NotoSerifBengali_Condensed-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "nato_ban";
  src: url("../public/font/nato_ban/NotoSerifBengali_Condensed-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "nato_ban";
  src: url("../public/font/nato_ban/NotoSerifBengali_ExtraCondensed-Thin.ttf");
  font-weight: 100;
}

.help_container_parent {
  height: calc(100vh - 200px);
}
.help_container {
  height: calc(100% - 500px);
}

/* @media (max-width: 768px) {
  .help_container {
    height: calc(100% - 750px);
  }
} */

.scroll-1::-webkit-scrollbar {
  width: 15px;
  background-color: transparent;
  border-radius: 10px;
}

.scroll-1::-webkit-scrollbar-thumb {
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  background-color: #a3a3a3;
  border-radius: 10px;
}
